<header>
  <section class="hero">
      <div class="texture-overlay"></div>
      <div class="container">
          <div class="row nav-wrapper">
              <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                  <!-- <a href="#">
                      <img src="../assets/images/logoPcBuilder150x150.png" alt="Logo">
                  </a> -->
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
                  <p>MENU</p>
                  <a id="trigger-overlay" class="nav_slide_button nav-toggle" [ngClass]="{'active': isActive}" (click)="isActive = !isActive; isOpen = !isOpen">
                      <span></span>
                  </a>
              </div>
          </div>
          <div class="row hero-content">
              <div class="col-md-12">
                  <h1 class="animated fadeInDown"><b>PC Builder.</b><br>Building a computer simpler than ever.</h1>
                  <a routerLink="configurator/case" class="use-btn animated fadeInUp">Configure</a>
                  <a routerLink="tutorial" class="learn-btn animated fadeInUp">Learn more
                      <i class="fa fa-arrow-down"></i>
                  </a>
              </div>
          </div>
      </div>
  </section>
</header>

<section class="video" id="about">
  <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <h1>
                  <a href="https://www.youtube.com/watch?v=YOdWCEfzySY" class="youtube-media">
                      <i class="fa fa-play-circle-o"></i> Watch the Video</a>
              </h1>
          </div>
      </div>
  </div>
</section>

<div class="overlay overlay-boxify" [ngClass]="{'open': isOpen}">
  <nav>
      <ul>
          <li><a routerLink="configurator/case"><i class="fa fa-desktop"></i>Configure</a></li>
          <li><a routerLink="tutorial"><i class="fa fa-flash"></i>Tutorials</a></li>
          <li><a routerLink="#screenshots"><i class="fa fa-heart"></i>Blog</a></li>
      </ul>
  </nav>
</div>