<h2>Learn about computer components:</h2>
<main>
  <div class="container">
    <div class="media">
      <figure>
        <img src="../../../../../assets/images/computerParts/system1.jpg" />
      </figure>
    </div>
    <div class="hotspots">
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()" data-toggle="modal" data-target="#myModal"></i>
        </div>
      </div>
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()"></i>
        </div>
      </div>
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()"></i>
        </div>
      </div>
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()"></i>
        </div>
      </div>
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()"></i>
        </div>
      </div>
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()"></i>
        </div>
      </div>
      <div class="hotspot">
        <div class="trigger">
          <i class="fa fa-info-circle" (click)="test()"></i>
        </div>
      </div>
    </div>
  </div> 
</main>
