<div class="board-inner" id="status-buttons">
    <ul class="nav nav-tabs" id="myTab">
        <div class="liner"></div>

        <!-- circular user icon -->
        <li>
            <a routerLink="/case" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="case">
                <span class="round-tabs one">
                    <!-- <i class="glyphicon glyphicon-user"></i> -->
                    <img src="../../../../../assets/images/computerParts/computer_case.png" style="width: 40px">
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
        <li>
            <a routerLink="/work" routerLinkActive="active" data-toggle="tab" title="work">
                <span class="round-tabs two">
                    <img src="../../../../../assets/images/computerParts/computer_cooler.png"style="width: 40px">
                </span>
            </a>
        </li>

        <!-- circular home icon -->
        <li>
            <a routerLink="/address" routerLinkActive="active" data-toggle="tab" title="address">
                <span class="round-tabs three">
                    <img src="../../../../../assets/images/computerParts/computer_cpu.png" style="width: 50px">
                </span>
            </a>
        </li>

        <!-- circular ok icon -->
        <li>
            <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                    <img src="../../../../../assets/images/computerParts/computer_motherboard.png" style="width: 40px">
                </span>
            </a>
        </li>
        <!-- circular user icon -->
        <li>
            <a routerLink="/personal" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="personal">
                <span class="round-tabs one">
                    <img src="../../../../../assets/images/computerParts/computer_ram.png" style="width: 40px">
                </span>
            </a>
        </li>

        <!-- circular tasks icon -->
        <li>
            <a routerLink="/work" routerLinkActive="active" data-toggle="tab" title="work">
                <span class="round-tabs two">
                    <img src="../../../../../assets/images/computerParts/computer_videoCard.png" style="width: 40px">
                </span>
            </a>
        </li>

        <!-- circular home icon -->
        <li>
            <a routerLink="/address" routerLinkActive="active" data-toggle="tab" title="address">
                <span class="round-tabs three">
                    <img src="../../../../../assets/images/computerParts/computer_storage.png" style="width: 40px">
                </span>
            </a>
        </li>

        <!-- circular ok icon -->
        <li>
            <a routerLink="/result" routerLinkActive="active" data-toggle="tab" title="completed">
                <span class="round-tabs four">
                    <img src="../../../../../assets/images/computerParts/computer_powerSupply.png" style="width: 40px">
                </span>
            </a>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>