<div class="card" [ngClass]="{'selected': powersupply.isSelected}">
  <div class="card_image">
    <img [src]="powersupply.imageUrl">
    <div class="info">
      <h2>Specifications:</h2>
      <ul>
        <li>
          <strong>Power:</strong>{{powersupply.power}}</li>
        <li>
          <strong>Efficiency: </strong>{{powersupply.efficiency}}</li>
        <li>
          <strong>Cooler: </strong>{{powersupply.cooler}}</li>
        <li>
          <strong>Pfc: </strong>{{powersupply.pfc}}</li>
        <li>
          <strong>Certificate: </strong>{{powersupply.certificate}}</li>
        <li *ngIf="powersupply.isModular">
          <strong>Modular: </strong>Yes</li>
        <li *ngIf="!powersupply.isModular">
          <strong>Modular: </strong>No</li>
      </ul>
    </div>
  </div>
  <div class="card__content">
    <div class="card__title"> {{powersupply.title}}</div>
    <p class="card__text">{{powersupply.price}}$ </p>
    <div class="buttons">
      <button class="btn btn--block card__btn" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>