<div class="card" [ngClass]="{'selected': storage.isSelected}">
  <div class="card_image">
    <img [src]="storage.imageUrl">
    <div class="info">
      <h2>Specifications:</h2>
      <ul>
        <li>
          <strong>Form-factor: </strong>{{storage.formFactor}}</li>
        <li>
          <strong>Interface: </strong>{{storage.interface}}</li>
        <li>
          <strong>Capacity: </strong>{{storage.capacity}}</li>
        <li *ngIf="storage.rpm !== '0'">
          <strong>Rpm: </strong>{{storage.rpm}}</li>
        <li *ngIf="storage.writeSpeed !== ''">
          <strong>Write-speed: </strong>{{storage.writeSpeed}}</li>
        <li *ngIf="storage.readSpeed !== ''">
          <strong>Read-speed: </strong>{{storage.readSpeed}}</li>
      </ul>
    </div>
  </div>
  <div class="card__content">
    <div class="card__title"> {{storage.title}}</div>
    <p class="card__text">{{storage.price}}RON </p>
    <div class="buttons">
      <button class="btn btn--block card__btn" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>