<div class="card" [ngClass]="{'selected': motherboard.isSelected}">
  <div class="card_image">
    <img [src]="motherboard.imageUrl">
    <div class="info">
      <h2>Specifications:</h2>
      <ul>
        <li>
          <strong>Cpu socket:</strong>{{motherboard.socket}}</li>
        <li>
          <strong>Ram slots: </strong>{{motherboard.ramSlots}} x {{motherboard.typeOfRam}}</li>
        <li>
          <strong>Ram frequency: </strong>{{motherboard.ramFrequency}} GHz</li>
        <li>
          <strong>Network: </strong>{{motherboard.network}}</li>
        <li>
          <strong>Sata/M.2: </strong>{{motherboard.sata}}/{{motherboard.m2}}</li>
        <li>
          <strong>Graphic interface:</strong>{{motherboard.graphicInterface}}</li>
      </ul>
    </div>
  </div>
  <div class="card__content">
    <div class="card__title"> {{motherboard.title}}</div>
    <p class="card__text">{{motherboard.price}}$ </p>
    <div class="buttons">
      <button class="btn btn--block card__btn" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>