<div class="card" [ngClass]="{'selected': cpu.isSelected}">
  <div class="card_image">
    <img [src]="cpu.imageUrl">
    <div class="info">
      <h2>Specifications:</h2>
      <ul>
        <li>
          <strong>Socket: </strong>{{cpu.socket}}</li>
        <li>
          <strong>Cores: </strong>{{cpu.cores}}</li>
        <li>
          <strong>Threads: </strong>{{cpu.threads}}</li>
        <li>
          <strong>Frequency: </strong>{{cpu.baseFrequency}} GHz / {{cpu.turboFrequency}} GHz</li>
        <li>
          <strong>Cache: </strong>{{cpu.cache}} MB</li>
        <li>
          <strong>Ram: </strong>{{cpu.typeOfRam}} - {{cpu.ramFrequency}} GHz</li>
        <li *ngIf="cpu.hasStockCooler">
          <strong>Stock cooler: </strong>Yes</li>
        <li *ngIf="!cpu.hasStockCooler">
          <strong>Stock cooler: </strong>No</li>
      </ul>
    </div>
  </div>
  <div class="card__content">
    <div class="card__title"> {{cpu.title}}</div>
    <p class="card__text">{{cpu.price}}RON </p>
    <div class="buttons">
      <button class="btn btn--block card__btn" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>