<div class="card" [ngClass]="{'selected': videocard.isSelected}">
  <div class="card_image">
    <img [src]="videocard.imageUrl">
    <div class="info">
      <h2>Specifications:</h2>
      <ul>
        <li>
          <strong>Type: </strong>{{videocard.type}}</li>
        <li>
          <strong>Interface:</strong>{{videocard.interface}}</li>
        <li>
          <strong>Memory: </strong>{{videocard.memorySize}} Gb - {{videocard.memoryFrequency}} Mhz</li>
        <li>
          <strong>Memory BUS: </strong>{{videocard.memoryBus}}-bit</li>
        <li>
          <strong>Gpu Frequency: </strong>{{videocard.baseFrequency}} MHz / {{videocard.gpuBoostClock}} MHz</li>
        <li>
          <strong>Resolution: </strong>{{videocard.resolution}}</li>
      </ul>
    </div>
  </div>
  <div class="card__content">
    <div class="card__title"> {{videocard.title}}</div>
    <p class="card__text">{{videocard.price}}RON </p>
    <div class="buttons">
      <button class="btn btn--block card__btn" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>