<div class="container-fluid">
  <h3>Please select a product:</h3>

  <div class="col-sm-12">
    <ul class="cards" >
      
      <li class="cards__item" *ngFor="let case of cases">
          <app-case-card [case]="case" (caseEvent)="caseSelected($event)"></app-case-card>
      </li>
    </ul>
  </div>
  <div class="footer">
      <div class="col-sm-12 footer_content">
        <div class="col-sm-3">
            <p><span class="total_price">Total:{{currentTotalPrice | number : '1.2-2'}} RON</span></p>
        </div>
        <div class="col-sm-6 footer-buttons">
            <button class="btn btn-danger" routerLink="">Quit</button>
            <button class="btn btn-success" [disabled]="isDisabled" (click)="goToCPU()" [ngStyle]="{'cursor': isDisabled ? 'no-drop' : 'pointer' }">Next ></button>
        </div>
      </div>
    </div>
</div>

