<div class="container-fluid">
  <h3>Please select a product:</h3>

  <div class="col-sm-12">
    <ul class="cards" >
      
      <li class="cards__item" *ngFor="let case of cases">
          <app-card [case]="case" (caseEvent)="caseSelected($event)"></app-card>
      </li>
    </ul>
  </div>
  <div class="footer">
      <div class="col-sm-12 footer_content">
        <div class="col-sm-3">
            <p><span class="total_price">Total: $1999.00</span></p>
        </div>
        <div class="col-sm-6">
            <!-- <button class="btn btn-warning"> < Prev</button> -->
            <button class="btn btn-danger">Quit</button>
            <button class="btn btn-success" [disabled]="isDisabled" (click)="goToCPU()">Next ></button>
        </div>
      </div>
    </div>
</div>

