<div class="card" [ngClass]="{'selected': cooler.isSelected}">
  <div class="card_image">
    <img [src]="cooler.imageUrl">
    <div class="info">
      <h2>Specifications:</h2>
      <ul>
        <li>
          <strong>Sockets: </strong>
          <span *ngFor="let socket of cooler._compatibleSockets"> {{socket}} </span>
        </li>
        <li>
          <strong>Type: </strong>{{cooler.type}}</li>
        <li>
          <strong>Fans: </strong>{{cooler.fans}} x {{cooler.fanSize}} mm</li>
        <li>
          <strong>Fans-speed: </strong>{{cooler.fanSpeed}}</li>
        <li>
          <strong>Noise: </strong>{{cooler.noise}}</li>
        <li>
          <strong>Height: </strong>{{cooler.height}} mm</li>
      </ul>
    </div>
  </div>
  <div class="card__content">
    <div class="card__title"> {{cooler.title}}</div>
    <p class="card__text">{{cooler.price}}$ </p>
    <div class="buttons">
      <button class="btn btn--block card__btn" (click)="onSelect()">Select</button>
    </div>
  </div>
</div>