<div class="container-fluid">
  <h3>Please select a product:</h3>

  <div class="col-sm-12">
    <ul class="cards" >
      
      <li class="cards__item" *ngFor="let storage of storages">
          <app-storage-card [storage]="storage" (storageEvent)="storageSelected($event)"></app-storage-card>
      </li>
    </ul>
  </div>
  <div class="footer">
      <div class="col-sm-12 footer_content">
        <div class="col-sm-3 footer-price">
            <p><span class="total_price">Total: ${{currentTotalPrice | number : '1.2-2'}}</span></p>
        </div>
        <div class="col-sm-6 footer-buttons">
            <button class="btn btn-warning" (click)="goToVideocard()"> < Prev</button>
            <button class="btn btn-danger" routerLink="">Quit</button>
            <button class="btn btn-success" [disabled]="isDisabled" (click)="goToPowersupply()" [ngStyle]="{'cursor': isDisabled ? 'no-drop' : 'pointer' }">Next ></button>
        </div>
      </div>
    </div>
</div>

