body {
  background: #f5f5f5;
  font: 15px open sans;
  letter-spacing: -0.02em;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 2em auto;
}

.post:nth-child(3n -1) {
  margin: 10px 10px 0 0;
}
.post:nth-child(3n) {
  margin: 10px 10px 0 0;
}

.post {
  background: white;
  width: 32%;
  border-radius: 3px;
  border: 1px solid gainsboro;
  overflow: hidden;
  box-shadow: 0 3px 3px rgba(220, 220, 220, 0.5);
  display: inline-grid;
}
.post .post-image {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-size: cover !important;
  background-position: center center !important;
}
.post .post-image:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  z-index: 2;
  content: '';
}
.post .post-image .post-price {
  background: crimson;
  padding: 0.3em 1em;
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  letter-spacing: -0.07em;
}
.post .post-card {
  padding: 1em 1.5em;
}
.post .post-card .post-title {
  font-weight: 700;
  font-size: 1.3em;
  margin: 0.8em 0 1em -0.1em;
  letter-spacing: -0.08em;
  color: #464646;
  text-decoration: none;
  display: inline-block;
}
.post .post-card .post-title:hover {
  color: #131313;
}
.post .post-card .post-date {
  color: #797979;
  padding-bottom: 0.5em;
  margin-bottom: 0.8em;
  font-size: 0.9em;
  border-bottom: 1px solid gainsboro;
}
.post .post-card .post-content {
  color: #797979;
  line-height: 1.8em;
  height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.post .post-card .post-cat {
  text-transform: uppercase;
  color: #797979;
  font-size: 0.9em;
}
.post .post-card .post-read {
  text-decoration: none;
  text-transform: uppercase;
  color: crimson;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: -0.1em;
  margin-top: 1em;
  display: inline-block;
  text-align: right;
  width: 100%;
}
.post .post-card .post-read:hover {
  color: #5f0819;
}
.post .post-card .post-share {
  margin-bottom: 0.7em;
  overflow: hidden;
}
.post .post-card .post-share label {
  position: relative;
  z-index: 2;
}
.post .post-card .post-share label icon {
  margin-right: 0.5em;
  cursor: pointer;
  color: #797979;
}
.post .post-card .post-share label icon:hover {
  color: #f89406;
}
.post .post-card .post-share .post-share-options {
  display: inline-block;
  margin-left: -200px;
  opacity: 0;
  transition: 0.3s cubic-bezier(0, 0, 0.58, 1);
  z-index: 1;
  position: relative;
}
.post .post-card .post-share .post-share-options a {
  text-decoration: none;
  color: #797979;
  display: inline-block;
  width: 1em;
  text-align: center;
  font-size: 1.2em;
}
.post .post-card .post-share .post-share-options a:hover {
  color: #f89406;
}
.post .post-card .post-share input[type='checkbox'] {
  display: none;
}
.post .post-card .post-share input:checked + label .post-share-options {
  margin-left: 0;
  opacity: 1;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.overlay ul li a:hover,
.overlay ul li a:focus {
  background-color: firebrick;
}
#title {
  color: black;
}
.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  background-color: black;
}

.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before,
.nav-toggle.active span:after {
  background-color: white;
}
.overlay-boxify.open {
  z-index: 100;
}
.texture-overlay {
  z-index: -1;
}

@media only screen and (max-width: 415px) {
  .overlay nav {
    top: 45%;
    height: 95%;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 550px) {
  .post {
    width: 100%;
  }
  .post-price{
    margin: 10px;
  }
}
